page-line-up {

    .center{
        text-align: center;
    }

    .left{
        text-align: left;
    }

    .right{
        text-align: right;
        font-weight: bolder;
    }

    .black{
        background-color: black;
        font-weight: bolder;
        color: aliceblue;

    }
}
