page-game {

    .center{
        text-align: center;
    }
    .gameTitle{
        background-color: black;
        color: aliceblue;
        font-weight: bolder;
        font-size: 16px;
    }
    ion-col.center.gameTime.col {
        font-size: 16px;
        font-weight: bolder;
    }

}
